html, body {
    font-family: 'Slabo 27px', Arial;
}

h1, p {
    margin: 0;
}

.center {
    width: 50%;
    margin: auto;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.form .input {
    width: 30%;
    border: none;
    border-bottom: 1px solid black;
}

#table {
  
}
